﻿@model Proyecto_Agenda.Models.Contacto

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contacto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Casa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_Casa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Oficina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_Oficina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
