﻿@model Proyecto_Agenda.Models.Contacto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contacto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Casa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_Casa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Oficina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_Oficina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<p>
 
    @Html.ActionLink("Back to List", "Index")
</p>
